body {
  background-color: rgb(253,170,76);
}
.banner {
  margin: auto;
  background-color: rgb(241,103,31);
  width: 100%;
  text-align: center;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
  padding: 10px;
  color: white;
}
.banner #menu-links {
  display: none;
}

.banner a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.banner a.menu-icon {
  background-color: rgb(164,206,202);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.banner a:hover {
  background-color: #ddd;
  color: rgb(164,206,202);
}
.banner-line {
  margin: auto;
  background-color: rgb(218,218,218);
  width: 100%;
  height: 5px;
}
.categories {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0px 15px;
}
.row {
  margin: auto;
  text-align: center;
}
.category-box {
  background-color: rgb(164,206,202);
  height: 200px;
  width: 200px;
  padding-top: 70px;
  display: inline-block;
  border: 5px solid rgb(253,170,76);
}
.category-name {
  background-color: white;
  color: rgb(241,103,31);
  text-align: center;
  width: 155px;
  height: 60px;
  margin: auto;
  padding: 15px;
  border: 4px solid rgb(164,206,202);
  border-style: double;
  font-size: 16.5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
@media (min-width: 408px) {
  .category-row {
    width: 408px;
    margin-left: calc((100% - 408px)/2);
  }
}
@media (min-width: 608px) {
  .category-row{
    width: 608px;
    margin-left: calc((100% - 608px)/2);
  }
}
@media (min-width: 808px) {
  .category-row {
    width: 808px;
  }
  .category-row {
    margin-left: calc((100% - 808px)/2);
  }
}
@media (min-width: 1208px) {
  .category-row {
    width: 1208px;
    margin-left: calc((100% - 1208px)/2);
  }
}

@media (min-width: 340px) {
  .grid {
    width: 340px;
    margin-left: calc((100% - 340px)/2);
  }
}
@media (min-width: 510px) {
  .grid {
    width: 510px;
    margin-left: calc((100% - 510px)/2);
  }
}
@media (min-width: 680px) {
  .grid {
    width: 680px;
    margin-left: calc((100% - 680px)/2);
  }
}
@media (min-width: 850px) {
  .grid {
    width: 850px;
    margin-left: calc((100% - 850px)/2);
  }
}
@media (min-width: 1020px) {
  .grid {
    width: 1020px;
    margin-left: calc((100% - 1020px)/2);
  }
}
@media (min-width: 1190px) {
  .grid {
    width: 1190px;
    margin-left: calc((100% - 1190px)/2);
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}
.instagram {
  float: left;
  bottom: 0;
  position: fixed;
  left: 0;
  font-family: serif;
  text-decoration: none;
  color: black;
  font-size: 10px;
}
.donate {
  margin: auto;
  width: 300px;
  background-color: rgb(241,103,31);
  color: white;
  padding: 10px;
  font-weight: bold;
}

.category-page {
  padding: 15px;
}
img {
  margin: 5px;
}

.page-title {
  position: absolute;
  left: 50%;
  top: 45;
  transform: translate(-50%, -50%);
  background-color: rgb(164,206,202);
  height: 80px;
  width: 200px;
  padding-top: 10px;
  display: inline-block;
}
.page-name {
  background-color: white;
  color: rgb(241,103,31);
  text-align: center;
  width: 155px;
  height: 60px;
  margin: auto;
  padding: 15px;
  border: 4px solid rgb(164,206,202);
  border-style: double;
  font-size: 16.5px;
  font-family: 'Courier New', Courier, monospace;
}
.grid {
  margin-top: 25px;
}

.support-box {
  position: relative;
}
.support {
  width: 115px;
  background-color: black;
  color: white;
  position: absolute;
  top: 55px;
  left: 40px;
  padding: 5px;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 480px) { 
  .av-large-gap.av-fixed-size .av-masonry-entry .av-inner-masonry {
    right: 0;
  }
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  z-index: 9999;
	background: url('images/giphy.gif') 50% 50% no-repeat rgb(249,249,249,0.9);
}
